AuthType Basic
AuthName "Restricted Files"
# (Following line optional)
AuthBasicProvider file
AuthUserFile /export/sd207/www/jp/r/e/gmoserver/4/0/sd0324840/asianbazaar.co.jp/axby/pass
Require user imbaig 


